# Python Basics

# Lists
#### Sequence of items with same or different types and lists are mutable and enclosed with [ ]

#### Creating a list

In [3]:
a=[10,20.5,"Hello","hai",1,5.7]
print(a[1])#printing the 2nd term indexing starts from 0

20.5

#### Printing a list

In [4]:
print(a)#printing all terms

[10, 20.5, 'Hello', 'hai', 1, 5.7]

#### slicing in python

In [6]:
print(a[2:4])#starting from 2 to 4th index but it wont consider last term that is 4

['Hello', 'hai']

In [7]:
print(a[2:])#start printing from 2 to last

['Hello', 'hai', 1, 5.7]

In [8]:
print(a[:4])#starting from first to 4

[10, 20.5, 'Hello', 'hai']

In [10]:
print(a[: :-1]) #reverse

[5.7, 1, 'hai', 'Hello', 20.5, 10]

In [11]:
a[0]=11
print(a)

[11, 20.5, 'Hello', 'hai', 1, 5.7]

### Methods

#### Length

In [12]:
print(len(a))#lemgth of a list

6

#### Append

In [15]:
a.append("welcome")#adding element at last
print(a)

[11, 20.5, 'Hello', 'hai', 1, 5.7, 'hai', 'hai', 'welcome']

### insert

In [17]:
a.insert(2,"World") #inserting at specified postion
print(a)

[11, 20.5, 'World', 'World', 'Hello', 'hai', 1, 5.7, 'hai', 'hai', 'welcome']

### remove

In [18]:
a.remove('hai') #removed first hai 
print(a)

[11, 20.5, 'World', 'World', 'Hello', 1, 5.7, 'hai', 'hai', 'welcome']

### pop

In [19]:
a.pop() #removing last element
print(a)

[11, 20.5, 'World', 'World', 'Hello', 1, 5.7, 'hai', 'hai']

### Joining list

In [20]:
b=["added"]
c=a+b
print(c)

[11, 20.5, 'World', 'World', 'Hello', 1, 5.7, 'hai', 'hai', 'added']

## Variables

#### variables is a name that refers to a value

### Creating a variable

In [22]:
a=5 #assigning integer
b="5" #assigning string
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

### Variable are case sensitive

In [23]:
print(A) #we assigned a not A so error

NameError: name 'A' is not defined

In [24]:
1a=5 # variable should not start with numbers

SyntaxError: invalid syntax (<ipython-input-24-12a452f40b4c>, line 1)

In [25]:
e@q=1 #no special charecters are allowed

SyntaxError: can't assign to operator (<ipython-input-25-e84705090109>, line 1)

In [27]:
q_e=1 #we can use _
print(q_e)

1

### assigning multiple variables

In [28]:
a,b,c=1,2,3
print(b)

2

In [29]:
a=b=c=1
print(c)

1

# Dictionaries(key-value pairs) { }

### Creating a dict

In [31]:
dict={"name":"Akshay","country":"india","work":"student"}
print(dict)

{'name': 'Akshay', 'country': 'india', 'work': 'student'}

### Chaning Values

In [33]:
dict["country"]="INDIA"
print(dict)

{'name': 'Akshay', 'country': 'INDIA', 'work': 'student'}

### creating with multiple keys

In [34]:
dict1={"even":"2,,4,6,8,10","odd":"1,3,5,7,9"}
print(dict1["odd"])

1,3,5,7,9

### Get method

In [35]:
print(dict1.get("even"))

2,,4,6,8,10

### adding items

In [40]:
dict1["prime"]="1,2,3,5,7" #adding prime in dict
print(dict1)

{'even': '2,,4,6,8,10', 'odd': '1,3,5,7,9', 'prime': '1,2,3,5,7'}

### Removing item

In [41]:
dict1.pop("prime") #removing prime

'1,2,3,5,7'

In [44]:
dict1.popitem()
print(dict1)

{'even': '2,,4,6,8,10'}

In [42]:
dict.keys()

dict_keys(['name', 'country', 'work'])

In [43]:
len(dict1)

2

In [46]:
copy=dict1.copy()
print(copy)

{'even': '2,,4,6,8,10'}

# Numpy

### Creating array

#### 1D array

In [58]:
import numpy as np
one=np.array([1,2,3,4,5,6])
print(one)

[1 2 3 4 5 6]

### 0d array

In [63]:
zero=np.array(3)
print(zero)

3

#### 2D array

In [60]:
two=np.array([[1,2,3],[4,5,6]])
print(two)

[[1 2 3]
 [4 5 6]]

#### 3D array

In [61]:
three=np.array([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])
print(three)

[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

#### Checking dimention

In [64]:
print(one.ndim)
print(zero.ndim)
print(two.ndim)
print(three.ndim)

1
0
2
3

#### Accessing elemets

In [65]:
print(two[0])

[1 2 3]

In [67]:
print(three[1])

[[5 6]
 [7 8]]

In [68]:
print(one[1:4])#slicing

[2 3 4]

In [69]:
print(one[1:5:2])#step=2

[2 4]

# Pandas

In [71]:
import pandas as pd
data={
    "even":[2,4,6,8],
    "odd":[3,5,7,9]
}
num=pd.DataFrame(data)

num

   even  odd
0     2    3
1     4    5
2     6    7
3     8    9

### Giving index

In [74]:
num=pd.DataFrame(data,index=[1,2,3,4])
num

   even  odd
1     2    3
2     4    5
3     6    7
4     8    9

### Reading from csv

In [ ]:
df=pd.read_csv("data.csv")
df=pd.read_json("data.json")

In [76]:
num.head(2)

   even  odd
1     2    3
2     4    5

In [77]:
num.tail(2)

   even  odd
3     6    7
4     8    9

In [79]:
num.shape

(4, 2)

In [80]:
num.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 1 to 4
Data columns (total 2 columns):
even    4 non-null int64
odd     4 non-null int64
dtypes: int64(2)
memory usage: 96.0 bytes

In [81]:
num.describe()

           even       odd
count  4.000000  4.000000
mean   5.000000  6.000000
std    2.581989  2.581989
min    2.000000  3.000000
25%    3.500000  4.500000
50%    5.000000  6.000000
75%    6.500000  7.500000
max    8.000000  9.000000

# Operators

### Arithmetic

In [83]:
x=5
y=2
add=x+y
sub=x-y
mul=x*y
div=x/y
print(add)
print(sub)
print(mul)
print(div)

7
3
10
2.5

### assignment

In [85]:
x=5
x+=4
print(x)

9

### Comparision

In [89]:
x=5
y=5
print(x==y)
print(x!=y)
print(x>=y)

True
False
True

### Logical Operators

In [90]:
x=0
if x>=0 and x<99:
    print("between 0 and 100")

between 0 and 100

# Looping constructs

In [92]:
x=1
while x<10:
    print(x)
    x+=1

1
2
3
4
5
6
7
8
9

In [95]:
for i in range(1,10):
    print(i)
else:
    print("came out of loop")

1
2
3
4
5
6
7
8
9
came out of loop

In [96]:
x=1
while x<10:
    print(x)
    if x==5:
        break
    x+=1

1
2
3
4
5

In [98]:
for i in range(1,20,2):#odd
    print(i)

1
3
5
7
9
11
13
15
17
19

In [100]:
for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [102]:
num=[1,2,3]
index=0
while index<len(num):
    print(num[index])
    index+=1
else:
    print("no more elements in list")

1
2
3
no more elements in list

In [103]:
for x in range(1,20):
    if x % 2 == 0:
        continue
    print(x)

1
3
5
7
9
11
13
15
17
19

In [105]:
for x in "akshay":
    print(x)

a
k
s
h
a
y

In [106]:
for x in range(0,10):
    pass

# Strings

In [107]:
a="hello"#a is string
print(a)

hello

In [110]:
a="how,are, you"
print(a[2])
print(a[3:5])

w
,a

In [111]:
print(len(a))

11

### Methods

#### strip

In [113]:
print(a.strip())#removes white spaces

how,are,you

In [114]:
print(a.upper())

HOW,ARE,YOU

In [116]:
print(a.replace("h","H"))

How,are,you

In [119]:
s1="hello"
s2="how"
s3=s1+s2
print(s3)

hellohow

In [123]:
'are' in a

True

In [124]:
'help' in a

False

# Functions and its working

### def is used

In [128]:
def ero(x):
    if x%2==0:
        print("even")
    else:
        print("odd")
        
ero(3)#calling function

odd

In [130]:
def hello(x):
    print("hello" + x)
    
hello("aksahy")

helloaksahy

In [131]:
def leap(x):
    if x%4==0:
        print("leap")
    else:
        print("not a leap year")
leap(2020)

leap

In [132]:
def prn(x):
    if x>0:
        print("positive")
    else:
        print("negative")
prn(5)

positive

In [134]:
def num():
    n=1
    print("inside func",n)
n=2
print(n)
num()

2
inside func 1

In [136]:
def add(a,b):
    c=a+b
    print(c)
    
add(5,5)

10

# Tuples

### Creating a tuple

In [140]:
t=("a")
print(type(t))
t=("a",)#if there is only one element then we should use ,
print(type(t))

<class 'str'>
<class 'tuple'>

In [141]:
t1=("a","b","c","d","e")
print(t1[2])

c

In [142]:
print(t1[-1:])

('e',)

In [143]:
print(t1[2:5])

('c', 'd', 'e')

### tuples are immutable so we cant change the element in that

In [144]:
t1[5]="b"#so we will get error

TypeError: 'tuple' object does not support item assignment

In [145]:
print(len(t1))

5

### Methods

In [146]:
print(t1.count("c"))

1

In [147]:
print(t1.index("d"))

3

In [148]:
del t1

In [151]:
print(t1)#already deleted entire t1

NameError: name 't1' is not defined